@import "normalize.css";

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  height: 5.6rem;
  position: relative;
  background: #2d343a;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 100%;
  width: 10rem;
  margin-left: 10vw;
}

.flow-logo {
  height: 100%;
  width: 100%;
}

.hamburger {
  margin-right: 10vw;
  padding: 1.8em 1.2em;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  align-self: center;
}

.hamburger__bar,
.hamburger__bar::before,
.hamburger__bar::after {
  height: 0.2rem;
  width: 2.5rem;
  background: #9b9ea1;
  display: block;
}

.hamburger__bar {
  position: relative;
}

.hamburger__bar::before,
.hamburger__bar::after {
  content: "";
  position: absolute;
}

.hamburger__bar::before {
  transform: translateY(-6px);
}

.hamburger__bar::after {
  transform: translateY(6px);
}

.hamburger + input {
  display: none;
}

.hamburger + input:checked + .nav {
  height: 30rem;
}

.nav {
  width: 100%;
  height: 0;
  padding-left: 2.5em;
  position: absolute;
  top: 5.6rem;
  background: #2d343a;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  transition: height 300ms ease-in;
  z-index: 2;
}

.nav__item {
  padding: 1em;
}

.nav__link {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.7);
}

.nav__link:hover {
  color: rgba(255, 255, 255, 0.8);
}

.nav__icon {
  height: 2rem;
  width: 2rem;
  fill: rgba(255, 255, 255, 0.7);
}

.nav__link:hover .nav__icon {
  fill: rgba(255, 255, 255, 0.8);
}

@media (min-width: 992px) {
  .hamburger {
    display: none;
  }

  .nav {
    height: auto;
    position: initial;
    flex: 1;
    display: flex;
    flex-direction: row;
  }

  .nav__list,
  .nav__social-links {
    flex-basis: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .nav__social-links {
    margin-left: auto;
    margin-right: 10vw;
  }
}

.decoration,
.decoration::after {
  position: absolute;
  border: 1.6rem solid;
}

.decoration::after {
  content: "";
  z-index: -1;
}

.decoration--light {
  border-color: #fff;
}

.decoration--light::after {
  border-color: #f6f6f6;
}

.decoration--dark {
  border-color: #2d343a;
}

.decoration--dark::after {
  border-color: #95989b;
}

.decoration--orange {
  border-color: #e8bd38;
}

.decoration--orange::after {
  border-color: #f3dd99;
}

.decoration--up,
.decoration--up::after {
  top: calc(-1.6rem * 2);
  left: 0;
  border-right-color: transparent;
  border-top-color: transparent;
}

.decoration--up::after {
  top: -1.6rem;
}

.decoration--down,
.decoration--down::after {
  bottom: calc(-1.6rem * 2);
  right: 0;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.decoration--down::after {
  bottom: -1.6rem;
}

.button {
  padding: 0.8em;
  border: 4px solid;
  font-size: 25px;
  font-weight: 800;
  text-transform: uppercase;
}

.button--default {
  border-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.button--default:hover {
  background: #e8bd38;
  border-color: #e8bd38;
  color: #2d343a;
}

.button--light {
  background: #fff;
  border-color: #fff;
  color: #2d343a;
}

.button--light:hover {
  background: #2d343a;
  border-color: #2d343a;
  color: #e8bd38;
}

main {
  /* z-index: 1; */
}

.section {
  padding: 7em 10vw;
  position: relative;
  z-index: 1;
}

.section--light {
  background: #fff;
}

.section--orange {
  background: #e8bd38;
}

.section--dark {
  background: #2d343a;
  color: #fff;
  z-index: 1;
}

.button-group {
  height: auto;
  display: flex;
  justify-content: space-between;
}

.hero {
  background: #384048;
}

.hero h1 {
  margin-top: 0;
  font-size: calc(1rem + 10vw);
  color: #fff;
  text-transform: uppercase;
}

.hero .button-group {
  width: 50rem;
  flex-wrap: wrap;
  align-items: center;
}

.hero .button {
  display: none;
}

.version {
  margin-top: 1.5em;
}

.version,
.version__link {
  color: #fff;
  font-size: 1.6rem;
}

.version__link {
  font-weight: bold;
  border-bottom: 1px solid #fff;
}

.text-orange {
  color: #e8bd38;
}

@media (min-width: 576px) {
  .decoration,
  .decoration::after {
    border-width: 2.4rem;
  }

  .decoration--up,
  .decoration--up::after {
    top: calc(-2.4rem * 2);
  }

  .decoration--up::after {
    top: -2.4rem;
  }

  .decoration--down,
  .decoration--down::after {
    bottom: calc(-2.4rem * 2);
  }

  .decoration--down::after {
    bottom: -2.4rem;
  }
}

@media (min-width: 768px) {
  .hero h1 {
    font-size: 8rem;
  }

  .hero .button {
    margin-bottom: 1.5em;
    display: initial;
  }
}

@media (min-width: 992px) {
  .decoration,
  .decoration::after {
    border-width: 4rem;
  }

  .decoration--up,
  .decoration--up::after {
    top: calc(-4rem * 2);
  }

  .decoration--up::after {
    top: -4rem;
  }

  .decoration--down,
  .decoration--down::after {
    bottom: calc(-4rem * 2);
  }

  .decoration--down::after {
    bottom: -4rem;
  }

  .hero h1 {
    font-size: 6.4rem;
  }

  .hero .button-group {
    width: 70rem;
    flex-wrap: no-wrap;
  }

  .hero .button {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .hero h1 {
    font-size: 7.4rem;
  }
}

.section__content {
  display: flex;
  flex-wrap: wrap;
}

.section__title {
  margin-bottom: 0.3em;
  font-size: 4rem;
  font-weight: 800;
  text-transform: uppercase;
}

.section__description {
  font-size: 2rem;
  line-height: 1.5;
  text-align: justify;
}

.section__image {
  width: 100%;
  margin-top: 1.7em;
  border-radius: 3px;
}

.section:nth-of-type(5) {
  z-index: 0;
}

.section:nth-of-type(6) {
  text-align: center;
}

.section:nth-of-type(6) .button-group {
  margin-top: 2.5em;
  justify-content: center;
}

.section:nth-of-type(6) .button:nth-child(1) {
  width: 100%;
}

.section:nth-of-type(6) .button:nth-child(2) {
  display: none;
}

.section:last-of-type {
  z-index: 0;
}

.feature {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3em;
}

.feature__item {
  gap: 3em;
}

.feature__title {
  margin-bottom: 0.2em;
  font-size: 3.2rem;
  font-weight: 800;
  text-transform: uppercase;
}

.feature__description {
  font-size: 1.7rem;
  line-height: 1.5;
  text-align: justify;
}

@media (min-width: 577px) {
  .section__title {
    font-size: 4.8rem;
  }
}

@media (min-width: 768px) {
  .section:nth-of-type(6) .button:nth-child(1) {
    margin-right: 1em;
    width: auto;
  }

  .section:nth-of-type(6) .button:nth-child(2) {
    margin-right: 1em;
    display: initial;
  }

  .feature {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .section__content {
    flex-wrap: nowrap;
    align-items: center;
  }

  .section__image {
    width: 45%;
    height: 35rem;
    margin-top: 0;
  }

  .section__image--left {
    order: -1;
  }
}

footer {
  padding: 0 10vw;
  background: #2d343a;
  color: #fff;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
}

.footer__links {
  padding: 1.5em 0;
  display: flex;
  flex-direction: column;
}

.footer__links::after {
  content: "";
  position: relative;
  top: 1.5rem;
  display: block;
  height: 0.1rem;
  background: rgba(255, 255, 255, 0.2);
}

.footer__item {
  margin-bottom: 0.5em;
}

.footer__link {
  color: #e8bd38;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__logo {
  padding: 1.5em 0;
  width: 12rem;
}

@media (min-width: 576px) {
  footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__links::after {
    display: none;
  }

  .footer__logo {
    margin-top: 1.5em;
  }
}

@media (min-width: 992px) {
  footer {
    align-items: center;
  }

  .footer__links {
    flex-direction: row;
    /* justify-content: space-between; */
  }

  .footer__item + .footer__item::before {
    content: "";
    width: 0.2rem;
    height: 0.2rem;
    margin: 0 0.5em;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
    transform: translateY(-150%);
  }

  .footer__logo {
    margin-top: 0;
  }
}
