@import "normalize.css";

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  height: 5.6rem;
  position: relative;
  background: #2d343a;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 100%;
  width: 20rem;
}

.flow-logo {
  height: 100%;
  width: 100%;
  /* display: none; */
}

.hamburger {
  margin-right: 3em;
  padding: 1.8em 1.2em;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  align-self: center;
}

.hamburger__bar,
.hamburger__bar::before,
.hamburger__bar::after {
  height: 0.2rem;
  width: 2.5rem;
  background: #9b9ea1;
  display: block;
}

.hamburger__bar {
  position: relative;
}

.hamburger__bar::before,
.hamburger__bar::after {
  content: "";
  position: absolute;
}

.hamburger__bar::before {
  transform: translateY(-6px);
}

.hamburger__bar::after {
  transform: translateY(6px);
}

.hamburger + input {
  display: none;
}

.hamburger + input:checked + .nav {
  height: 30rem;
}

.nav {
  width: 100%;
  height: 0;
  padding-left: 2.5em;
  position: absolute;
  top: 5.6rem;
  background: #2d343a;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  transition: height 300ms ease-in;
}

.nav__item {
  padding: 1em;
}

.nav__link {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.7);
}

.nav__link:hover {
  color: rgba(255, 255, 255, 0.8);
}

.nav__icon {
  height: 2rem;
  width: 2rem;
  fill: rgba(255, 255, 255, 0.7);
}

.nav__link:hover .nav__icon {
  fill: rgba(255, 255, 255, 0.8);
}

@media (min-width: 992px) {
  .hamburger {
    display: none;
  }

  .nav {
    height: auto;
    position: initial;
    flex: 1;
    display: flex;
    flex-direction: row;
  }

  .nav__list,
  .nav__social-links {
    flex-basis: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .nav__social-links {
    margin-left: auto;
    margin-right: 5em;
  }
}
